<h1 class='text-center'>{{title}}</h1>
<div class='text-center'>
    <button class='btn btn-primary' id="mac_btn">{{type}} {{met_ac}}</button>
    <h2 class='text-error' id="mac_error" style='display:none;'></h2>
    <h2 class='text-success' id="mac_success" style='display:none;'></h2>
</div>
<script defer src='./amd/min/admin.min.js'></script>